body {
  background-color: rgb(255, 255, 255);
}
h1,
h2,
h3,
p {
  color: rgb(0, 0, 0);
}
.butt {
  background-color: #0040ff;
  color: #fff;
  border-radius: 15px;
  padding: 16px 32px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}
