/* 폰트 불러옴: pretendard */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");

body {
  background-color: rgb(255, 255, 255);

  /* 폰트 적용 */
  font-family: "Pretendard", sans-serif;
}

h1,
h2,
h3,
p {
  color: rgb(0, 0, 0);
}

.butt {
  background-color: #0040ff;
  color: #fff;
  border-radius: 15px;
  padding: 16px 32px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

table,
th,
td {
  border-collapse: collapse;
  border: 1px solid black;
  text-align: center;
  padding: 10px;
}

tr {
  /* background-color 속성에 0.2초의 transition을 설정해줌 */
  transition: background-color 0.2s;
}

tr:hover {
  background-color: #ffc5c2;
  cursor: pointer;
}

td {
  padding: 5px;
}
